 <div ng-controller="stateController">
	<div class="bar bar-header bar-balanced">
	  <h1 class="title">ICEFIRE</h1>
	</div>
	<div class="bar bar-subheader">
	  <h2 class="title">Select state</h2>
	</div>
	<content has-header="true" has-subheader="true">
		<ul class="list">
	     <li class="item" ng-repeat="state in states">
				 	 <a ng-click="mun({{state.state_id}})"> 
					{{state.state_name}}
					</a>
	    </li>
	</ul>
	 </content>
		
	<div class="bar bar-footer bar-balanced">
	   <div class="title">Footer</div>
	</div>
</div>